#personal-page, #we-page {
    min-height: 100%;
    position: relative;
    margin: 50px 0;
}

#personal-page  h1, #we-page h1 {
    margin: 100px 0 5px 50px;
    color: #4D4D4D;
    font-weight: bold;
}

#personal-page  h2, #we-page h2 {
    margin: 0 0 10px 50px;
    color: #4D4D4D;
    font-size: 16px;
}

#personal-page #personal-image {
    float: left;
    width: 314px;
    height: 220px;
}

#personal-page  #personal-image img {
    width: 250px;
    height: 200px;
    margin: 20px 0 10px 50px;
    border-radius: 5%;
}

#personal-page #personal-info {
    margin: 32px 60px 0 50px;
}

#personal-page #personal-info p {
    line-height: 23px;
    text-indent: 30px;
}

#we-page .we-personal {
    width: auto;
    /* height: 250px; */
    display: inline-block;
    margin: 20px 0;
    float: left;
    clear: both;
    padding-left: 50px;
}

#we-page .we-personal .we-personal-image {
    float: left;
    width: 250px;
    height: 200px;
}

#we-page .we-personal .we-personal-image img {
    width: 250px;
    height: 200px;
    margin: 20px 0 10px 0;
    border-radius: 5%;
}

#we-page .we-personal .we-personal-info {
    margin: 32px 0 0 10px;
    display: inline-block;
}

#we-page .we-personal .we-personal-info p {
    max-width: 400px;
    text-align: justify;
}

#we-page .we-personal .we-personal-info span.we-personal-info-name {
    display: block;
    color: #4D4D4D;
    font-weight: bold;
    font-size: 18px;
}

#we-page .we-personal .we-personal-info span.we-personal-info-detail {
    display: block;
    color: #4D4D4D;
    font-size: 14px;
}

#we-page .we-personal .we-personal-info span.we-personal-info-name a {
    color: #151708;
}

#we-page .we-personal .we-personal-info span.we-personal-info-name a:hover {
    text-decoration: none;
    color: #009cff;
}

#texto {
    margin: 20px 10px 10px 50px;
    line-height: 20px;
    max-width: 800px;
}

@media all and (max-width: 800px) {
    .header {
        position: relative;
    }
    #personal-page {
        margin: 0;
    }
    #personal-page  h1 {
        margin: 50px 0 5px 50px;
    }
}